@if (isShow)
{
	<div class="modal fade show d-block" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">DELETE</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="Hide"></button>
				</div>
				<div class="modal-body">
					<p>Do you really want to delete it?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" @onclick="OnClick">Yes</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="@Hide">Cancel</button>
				</div>
			</div>
		</div>
	</div>
}